---
---

@import "reset";
@import "variables";


// common
html    { font-size: 100%; }
body    { background: #fff; font-size: 16px; font-family: 'Roboto', sans-serif; line-height: 1.8; font-weight: 300; opacity: 1; transition: 0.3s opacity; }
input, textarea { font-family: 'Roboto', sans-serif; padding: 5px; }
h1, h2, h3, h4, h5, h6 { margin: 1em 0 15px; padding: 0; }
h1      { font-size: 24px; font-weight: 400; }
h1 a    { color: inherit; }
h2      { font-size: 22px; }
h2 a    { color: inherit; }
h3      { font-size: 20px; }
h3 a    { color: inherit; }
h4      { font-size: 18px; color: $gray; }
h4 a    { color: inherit; }
h5      { font-size: 16px; }
h5 a    { color: inherit; }
p       { margin: 15px 0; }
a       { cursor: pointer; color: #375eb5; text-decoration: none; }
a:hover { text-decoration: underline; }
ul, ol  { margin: 15px 0; padding-left: 30px; }
ul      { list-style-type: disc; }
ol      { list-style-type: decimal; }
ol ul, ul ol, ul ul, ol ol { margin: 0; }
ul ul, ol ul { list-style-type: circle; }
em, i   { font-style: italic; }
strong, b { font-weight: 400;}
img     { max-width: 100%; }
blockquote { display: block; border-width: 1px 0; border-style: solid; border-color: #ddd; padding: 20px 0 10px 0; margin: 20px 0; position: relative; }
blockquote::before {
  position: absolute;
top: 0em;
left: 50%;
-webkit-transform: translate(-50%, -50%) rotate(180deg);
transform: translate(-50%, -50%) rotate(180deg);
background: #fff;
width: 3rem;
height: 2rem;
font-family: "Material Icons";
content: "\e244";
color: #666;
text-align: center;
font-size: 28px;
line-height: 2rem; }
blockquote::after { content: "\2013 \2003" attr(cite);
    display: block;
    text-align: right;
    color: #e4093a; }


// Fixes images in popup boxes from Google Translate
.gmnoprint img { max-width: none; }

// Specify the color of the selection
::-moz-selection  { color: $black; background: $lightGray; }
::selection       { color: $black; background: $lightGray; }

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


// layout
.spacer {
  flex-grow: 1;
}
.container    { margin: 0 auto; max-width: 760px; padding: 0 20px; width: 100%; }
.header-wrap  { align-items: center; padding: 20px 0 10px 0; border-bottom: 1px solid #ccc; display: flex; margin-bottom: 10px;
  @include mobile { flex-direction: column; align-items: flex-start; }
}

.header-avatar {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.header-avatar img {
  border-radius: 2px;
}

.header-title { font-family: 'Titillium Web', sans-serif; margin: 0; color: $darkGray; cursor: pointer; font-size: 24px; display: flex; align-items: center;
  @include mobile { margin-bottom: 15px; }
}
.header-title:hover { text-decoration: none; }

.header-description {
  font-family: 'Titillium Web', sans-serif;
  margin: 5px 0 0 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}

.nav-wrap { display: flex; }
.nav { font-family: 'Titillium Web', sans-serif; margin-left: 20px; color: rgba(0, 0, 0, 0.7); }
.nav:hover { text-decoration: none; }
.nav.active { font-weight: bold; }

.search-wrap  { display: flex; align-items: center; justify-content: flex-end; position: relative; margin: 15px 0; }
#search-input { flex: 1; border: 1px solid #ccc; font-size: 14px; }
.search-results { position: absolute; }

.footer-wrap { padding: 100px 0 10px 0; }

// main
.post-wrap > .post {
  border-bottom: 1px solid $lightGray;
  align-items: center;
}

.post-wrap > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
  }
}

.post-title {
}
.post-title a {
  color: #000;
}
.post-title a:hover {
  text-decoration: none;
}
.post-date {
  color: #666;
}
.pagination li {
  float: left;
    margin-right: 5px;
    list-style: none;
}
.pagination a,
.pagination span {
    display: block;
    padding: 4px 11px;
    background: #e7e7e7;
    color: #888;
    text-decoration: none;
    font-size: 12px;
    font-family: Verdana;
    line-height: 22px;

}
.pagination .current {
    background-color: #5FBF98;
    color: #FFF;
}
.pagination .prev,
.pagination .next {
    padding: 2px 2px 0px 3px;
    width: 25px;
    height: 28px;
    text-align: center;
}
.pagination .disabled {
    color: #bbb;
}


// works
.prj-wrap {  }
.prj-year {  }
.prj      { display: flex; }
.prj-screen { flex: 1; }
.prj-split { width: 1px; background: #ddd; margin: 0 5px; }
.prj-desc { flex: 1; }


// about
#quote-jobs {
background-image: url("{{ site.baseurl }}/images/about/steve_jobs.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-left: 180px;
    background-position-y: 15px;

    @include mobile {padding-left: 220px; }
}
.skill-wrap {
  overflow: auto;
}
.skill {
  display: flex;
  width: 120px;
  flex-direction: column;
  padding: 0 20px 15px 20px;
  float: left;
}
.skill-bar {
  display: flex;
}
.skill-bar > div {
  width: 10%;
  height: 5px;
  margin-right: 1px;
  background: rgba(0, 0, 0, 0.15);
}
.skill-title {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-icon {
  font-size: 20px;
}
.skill-name {
  margin-left: 5px;
}

#contact-form { }
.contact-wrap { display: flex; }
.contact-left { display: flex; flex-direction: column; margin-right: 20px; padding-right: 20px; border-right: 1px solid #ddd; }
.contact-split { width: 1px; margin: 0 10px; background: #ddd; }
.contact-right  { display: flex; flex-direction: column; flex: 1; }
#contact-form label { display: flex; flex-direction: column; flex: 1; }
#contact-form input, #contact-form textarea { margin-bottom: 10px; }
#contact-form textarea[name="message"] { resize: none; flex: 1; }
#contact-form input[type="submit"]  { float: right; }

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
