---
---

@import "reset";

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// common
html    {  }
body    { background: #fff; line-height: 1.8; font-family: 'Nunito', 'Noto Sans KR', sans-serif; color: rgba(0, 0, 0, 0.85); }
input, textarea { padding: 0.5em; border-radius: 2px;
    font-family: 'Nunito', 'Noto Sans KR', sans-serif;
    border: 1px solid #ccc; line-height: 1.8; }
input[type="button"], input[type="submit"], button { background: #f1f3f5; cursor: pointer; transition: 0.15s background; }
input[type="button"]:hover, input[type="submit"]:hover, button:hover { background: #e3e4e5; }
table   { width: 100%; border: 1px solid #ccc; border-radius: 2px; }
table th{ background: #f1f3f5; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
table td{ padding: 0.2em 0.5em; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; }
h1, h2, h3, h4, h5, h6 { margin: 1em 0 0.5em; padding: 0; font-weight: bold; }
h1      { font-size: 2.5rem; }
h1 a    { color: inherit; }
h2      { font-size: 2.2rem; }
h2 a    { color: inherit; }
h3      { font-size: 1.9rem; }
h3 a    { color: inherit; }
h4      { font-size: 1.6rem; }
h4 a    { color: inherit; }
h5      { font-size: 1.3rem; }
h5 a    { color: inherit; }
hr      { border: none; border-bottom: 1px solid #ddd; margin: 3em 0; }
p       { margin: 1em 0; text-indent: 0.5rem; }
a       { cursor: pointer; color: #e4093a; text-decoration: none; }
a:hover { text-decoration: underline; }
ul, ol  { margin: 1em 0; padding-left: 2em; }
ul      { list-style-type: disc; }
ol      { list-style-type: decimal; }
ol ul, ul ol, ul ul, ol ol { margin: 0; }
ul ul, ol ul { list-style-type: circle; }
strong, b { background: #faf0e6; }
img     { max-width: 100%; }
blockquote { display: block; border-width: 1px 0; border-style: solid; border-color: #ddd; padding: 20px 0; margin: 20px 0; position: relative; text-align: center; }
blockquote::before {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  background: #fff;
  width: 3em;
  height: 2em;
  font-family: "Material Icons";
  content: "\e244";
  text-align: center;
  font-size: 28px;
  line-height: 2rem; }

.highlighter-rouge {
  border: 1px solid #d1d1e8;
  background-color: #f1f3f5;
  padding: 1em 1.5em;
  tab-size: 4;
  overflow: auto;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.8rem;
  hyphens: none;
  white-space: pre;
  margin: 0;
  vertical-align: middle;
}
.highlighter-rouge:not([class^="language-"]) {
  border-color: transparent;
  padding: 2px 4px;
  margin: 2px 4px;
}


// Fixes images in popup boxes from Google Translate
.gmnoprint img { max-width: none; }

// Specify the color of the selection
::-moz-selection  { color: #fff; background: #222; }
::selection       { color: #fff; background: #222; }

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


// layout
.spacer { flex-grow: 1; }
.container    { margin: 0 auto; max-width: 960px; padding: 0 1em; width: 100%; position: relative; }

.header-wrap  { align-items: center; height: 50px; display: flex; position: relative; border-bottom: 1px solid #ccc;
  @include mobile {  }
}
.header-title { margin: 0; cursor: pointer; font-size: 1.2rem; display: flex; align-items: center; color: inherit;
  @include mobile { }
}
.header-title:hover { text-decoration: none; }
.header-title .fade  { opacity: 0.5; }
.header-title-left  { transform: scale(-1, 1); }
.header-title-right {  }

.header-bottom { display: flex; align-items: center; justify-content: center; }
.nav-wrap { display: flex; align-items: center; }
.nav { margin-left: 20px; opacity: 0.8; padding: 0 10px; color: inherit; font-family: 'PT Sans', sans-serif; text-transform: uppercase; }
.nav:first-child { margin-left: 0; }
.nav:hover { text-decoration: none; }
.nav.active { opacity: 1; }

.search-wrap {
  align-items: center;
  display: flex;
}
.search-toggle { padding: 0 10px; cursor: pointer; }
.search-toggle::before  { font-size: 24px; font-family: "Material Icons";
content: "\e8b6"; }

#search-input {
  flex: 1;
height: 100%;
font-size: 1rem;
outline: none;
border: none;
color: inherit;
background: transparent;
display: none;
}

.search-wrap.opened {
  position: absolute;
  width: 100%;
  height: 100%;
}
.search-wrap.opened #search-input {
  display: block;
}
.search-wrap.opened .search-toggle::before  {
content: "\e5cd"; }




.search-layer  { position: relative;
    width: 100%; z-index: 1;
    display: none; }
#search-result {          position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    white-space: nowrap;
    min-width: 100%;
    }

#search-result li {
  padding: 5px 10px;
  font-size: 0.9rem;
}
#search-result li:first-child { margin-top: 10px; }
#search-result li:last-child { margin-bottom: 10px; }
#search-result li a {
  color: rgba(35, 35, 35, 0.9);
  text-decoration: none;
  cursor: default;
}

#search-input::-webkit-input-placeholder {
  //color: rgba(255, 255, 255, 0.5);
}
#search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}


#main   { padding-top: 1em; padding-bottom: 4em; }








.comments {
  border-top: 1px solid #ddd;
  margin-top: 3em;
  padding-top: 3em;
}






.footer-wrap { padding: 100px 0 10px 0; }

.post-wrap {  }
.post-list { border-bottom: 1px solid #ddd; align-items: center; padding: 15px 0; }
.post-list:last-child { border-bottom: none;}
.post { padding: 1em 0; }

.post-title { margin-bottom: 10px; }
.post-title a { color: #000; }
.post-title a:hover { text-decoration: none; }
.post-info { margin-bottom: 10px; font-size: 0.8rem; text-transform: uppercase; }
.post-info-sep { margin: 0 5px; opacity: 0.5; }
.post-category {  }
.post-date {  }

.post-list .post-entry { font-size: 0.85rem; }

.post .post-title { text-align: center; }
.post .post-info { text-align: center; }
.post .post-entry {  }


.accent {
  color: #e4093a;
}
.bold {
  font-weight: bold;
}



.pagination {
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 0;
  padding-top: 1em;
}
.pagination li {
  display: inline-block;
    margin-right: 5px;
    list-style: none;
}
.pagination a,
.pagination span {
    display: block;
    padding: 4px 11px;
    color: #000;
    text-decoration: none;
    font-size: 13px;

}
.pagination .current {
    font-weight: bold;
}
.pagination .prev,
.pagination .next {
    padding: 2px 2px 0px 3px;
    width: 25px;
    height: 28px;
    text-align: center;
}
.pagination .disabled {
    color: #bbb;
}


// works
.prj-wrap {  }
.prj-year {  }
.prj      { display: flex; }
.prj-screen { flex: 1; }
.prj-split { width: 1px; background: #ddd; margin: 0 5px; }
.prj-desc { flex: 1; }


// about
#steve-jobs {
  float: left;
    width: 114px;
margin: 0 1em 1em 0;
@include mobile { width: 144px; }
}
.skill-wrap {
  display: flex;
height: 65px;
margin-top: 20px;
}
.skill {
  display: flex;
      flex-direction: column;
      flex: 1;
      margin-right: 15px;
}
.skill:last-child {
  margin-right: 0;
}
.skill-bar {
  display: flex;
}
.skill-bar > div {
  width: 10%;
  height: 10px;
  margin-right: 1px;
  background: rgba(0, 0, 0, 0.15);
}
.skill-title {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-icon {
  font-size: 20px;
}
.skill-name {
  margin-left: 5px;
}

#contact-form { }
.contact-wrap { display: flex; flex-direction: column; }
.contact-top { display: flex; margin-bottom: 15px; }
.contact-top input { flex: 1; }
.contact-bottom  { display: flex; flex-direction: column; flex: 1; }
#contact-form input[name="name"] { margin-right: 15px; }
#contact-form textarea[name="message"] { resize: none; flex: 1; height: 200px; margin-bottom: 15px; }
#contact-form input[type="submit"]  { width: 100%; }

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #ccc;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
