---
layout: default
---

<article>
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-catedate">
    <span class="post-category">{{ page.category }}</span>
    <span class="post-catedate-sep">|</span>
    <span class="post-date">{{ page.date | date: "%B %d, %Y" }}</span>
  </div>
  <div class="hits-wrap">
    <a href="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}{{ page.url }}" target="_blank">
      <img src="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}{{ page.url }}.svg" />
    </a>
  </div>
  <hr>
  <div class="post-entry">
    {{ content }}
  </div>
  <!-- <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div> -->
  {% include disqus.html %}
</article>

<script>
  $('body').addClass('post-layout');
</script>
